.Heading-Div {
    margin-left: 8%;
    display: block;

}

.Heading {
    font-weight: bold;    
}

.Personal-Info {
    margin-left: 10%;
    margin-top: 3%;
    float: left;
}

.Profile-Pic {
    width: 300px;
    height:300px;
    border-radius: 50%;
}

.Container {
    overflow: hidden;
}

.Details {
    margin-left: 10%;
    margin-top: 3%;
    float: left;
    align-content: center;
}

